body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
padding: 0;
margin: 0;
font-size: 12px;
line-height: 25px;
}
fieldset, img {
border: 0;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
ol, ul {
list-style: none;
}
address, caption, cite, code, dfn, em, strong, th, var {
font-weight: normal;
font-style: normal;
}
caption, th {
text-align: left;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
font-size: 100%;
}
q:before, q:after {
content: '';
}
abbr, acronym {
border: 0;
}

p {
    margin: 5px 0;
}

.foot {
    color: #666666;
    line-height: 22px;
    margin-top: 30px;
    text-align: center;
}
.foot .inner {
    margin: 0 auto;
    padding: 20px 0;
    width: 1000px;
}
.foot .footer_menu {
    color: #999999;
}

body {
    background-color: #fff;
}

/***** Icons *****/
.icon20 {
width: 20px;
height: 20px;
background-repeat: no-repeat;
position: relative;
top: 4px;
display: inline-block;
margin-right: 5px;
}
.icon-stop {
background-image: url(../images/area_stop.png);
}
.icon-del20 {
background-image: url(../images/area_del.png);
}

.icon {
background-position: 0% 50%;
background-repeat: no-repeat;
padding-left: 20px;
cursor:pointer;
padding-bottom: 2px;
padding-top: 2px;
}

.icon-close { background-image: url(../images/close_hl.png); }
.icon-add { background-image: url(../images/add.png); }
.icon-edit { background-image: url(../images/edit.png); }
.icon-copy { background-image: url(../images/copy.png); }
.icon-duplicate { background-image: url(../images/duplicate.png); }
.icon-del { background-image: url(../images/delete.png); }
.icon-move { background-image: url(../images/move.png); }
.icon-save { background-image: url(../images/save.png); }
.icon-cancel { background-image: url(../images/cancel.png); }
.icon-multiple { background-image: url(../images/table_multiple.png); }
.icon-folder { background-image: url(../images/folder.png); }
.icon-folder-open { background-image: url(../images/folder_open.png); }
.icon-package { background-image: url(../images/package.png); }
.icon-user { background-image: url(../images/user.png); }
.icon-projects { background-image: url(../images/projects.png); }
.icon-help { background-image: url(../images/help.png); }
.icon-attachment  { background-image: url(../images/attachment.png); }
.icon-history  { background-image: url(../images/history.png); }
.icon-time  { background-image: url(../images/time.png); }
.icon-time-add  { background-image: url(../images/time_add.png); }
.icon-stats  { background-image: url(../images/stats.png); }
.icon-warning  { background-image: url(../images/warning.png); }
.icon-fav  { background-image: url(../images/fav.png); }
.icon-fav-off  { background-image: url(../images/fav_off.png); }
.icon-reload  { background-image: url(../images/reload.png); }
.icon-lock  { background-image: url(../images/locked.png); }
.icon-unlock  { background-image: url(../images/unlock.png); }
.icon-checked  { background-image: url(../images/true.png); }
.icon-details  { background-image: url(../images/zoom_in.png); }
.icon-report  { background-image: url(../images/report.png); }
.icon-comment  { background-image: url(../images/comment.png); }
.icon-summary  { background-image: url(../images/lightning.png); }
.icon-server-authentication { background-image: url(../images/server_key.png); }
.icon-ticket { background-image: url(../images/ticket.png); }
.icon-ticket-checked { background-image: url(../images/ticket_checked.png); }
.icon-ticket-go { background-image: url(../images/ticket_go.png); }
.icon-exclamation { background-image: url(../images/exclamation.png); }
.icon-text_list_bullets { background-image: url(../images/text_list_bullets.png); }

/* pages */
.pages { clear:both; line-height: 26px; margin:10px 0;}
.pages:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.pages em, .pages a, .pages strong, .pages label{
background-color: #FFFFFF;
background-repeat: no-repeat;
border: 1px solid #C2D5E3;
color: #333333;
display: inline;
float: left;
height: 26px;
margin-left: 4px;
overflow: hidden;
padding: 0 8px;
text-decoration: none;
font-size: 14px;
    }
.pages strong{
background-color: #E5EDF2;
font-weight: bold;
}

    .pages a:hover{ border-color:#369;color:#369;text-decoration: none;}
.pages .px {height: 16px;
    line-height: 16px;
    padding: 0;
    width: 25px;}

.fixsel select{ margin:3px 5px 3px 0; }

#calendar{padding:5px;text-align:left;border:1px solid #DDD;background:#FFF;margin-bottom:0.8em;
border-radius: 5px;
}
#calendar td{padding:2px;font-weight:700;border: 0;}
#calendar_week td{height:2em;line-height:2em;border-bottom:1px solid #C2D5E3;}
#calendar_week a{color:#369;}
#hourminute td{padding:4px 2px;border-top:1px solid #C2D5E3;}

.calendar_default a:link, .calendar_expire a:link, .calendar_checked a:link {
border: 1px solid #DDD;
background: #F6F6F6;
font-weight: bold;
color: #0073EA;
display: block;
padding-right: 3px;
text-align: right;
text-decoration: none;
height: 18px;
line-height: 18px;
border-radius: 5px;
}
.calendar_checked a:link {
    background: #fff;
    color: red;
}
.calendar_expire a:link {
    background: #fff;
    color: #444;
}
.calendar_default a:hover, .calendar_checked a:hover, .calendar_expire a:hover {
    background: #0073EA;
    color: #fff;
}

.calendar_today,.calendar_today a:link,.calendar_today a:visited{color:#444;font-weight:bold;}
#calendar_header td{width:30px;height:20px;border-bottom:1px solid #C2D5E3;font-weight:normal;}
#calendar_year{display:none;line-height:130%;background:#FFF;position:absolute;z-index:10;}
#calendar_year .col{float:left;background:#FFF;margin-left:1px;border:1px solid #C2D5E3;padding:4px;}
#calendar_month{display:none;background:#FFF;line-height:130%;border:1px solid #DDD;padding:4px;position:absolute;z-index:11;}

a {color: #2366A8;cursor:pointer;text-decoration: underline;}
a:hover {text-decoration: underline; }

.a {color: #2366A8;cursor:pointer;text-decoration: underline;}
.a:hover {text-decoration: underline; }

.hand {cursor: pointer;}
.red {color:red}
.green {color:green}
.blue {color:blue}
.gray {color:gray}

#ajax_loading {
position: absolute;
top:0;
left:0;
width:100%;
display:none;
z-index: 10000;
}

.ajax_loading_img {
    background: url(../images/loading3.gif) no-repeat;
width:100px;
height:100px;
position: fixed;
left:50%;
top:45%;
}

.mask {
position: absolute;
top:0;
left:0;
z-index:100;
width:100%;
background-image: url(../images/mask.png);
}

.none {
    display: none;
}
.block {display:block;}

#login_form {
}

.form ul {
    margin: 0;
    padding: 12px 0 11px;
}

.form ul li {
    list-style-type: none;
    padding: 7px 0;
}
.form ul li span.name {
    float: left;
    padding-right: 5px;
    padding-top: 7px;
    text-align: right;
    width: 83px;
    color: #535353;
    font-size: 12px;
    line-height:12px;
}

.form label {
    color: #535353;
    padding: 0 0 0 8px;
}

.form_btn_submit {
    margin: 0 auto;
    padding: 0 0 0 88px;
}

.lineright {
    height: 18px;
    line-height: 18px;
    margin: 0 8px 0 0;
    text-align: right;
}
.inputstyle {
    border: 1px solid #7F9DB9;
    font-size: 14px;
    height: 14px;
    margin: 0;
    padding: 5px;
    width: 260px;
}

.time {width: 120px;}
.input_50 {width:50px;}
.input_100 {width:100px;}
.input_150 {width:150px;}
.input_200 {width:200px;}
.input_350 {width:350px;}

.selectstyle{
    border: 1px solid #7F9DB9;
    font-size: 14px;
    padding: 2px;
    height: 25px;
    cursor: pointer;
}

u {
    text-decoration: none;
    white-space: nowrap;
}

/* popUp */
.popup {
/*border: 2px solid #A3C3DA;
border-radius: 5px;
*/
border: #757575 4px solid;

background-color: #FFFFFF;
line-height:25px;
}

.popup_title {
/*background-image: -moz-linear-gradient(center top , #FFFFFF, #ECECEC);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(1,#ECECEC));
border-bottom: 1px solid #FFFFFF;
border-radius: 5px;
*/
border-bottom: #D9D9D9 1px solid;
background-color: #F1F1F1;

height: 40px;
line-height: 40px;
margin: 0px;
text-indent: 10px;
font-size: 14px;
font-weight: bold;
}

.popup_btn_close {
background: url("../images/c_pop_close.png") no-repeat scroll 0 0 transparent;
border: 0 none;
cursor: pointer;
float: right;
font-size: 0;
height: 12px;
line-height: 100px;
margin: 15px 10px;
overflow: hidden;
width: 12px;
}

.popup_content {
    margin: 0 auto;
    padding: 10px;
}

#popup-msg, #popup-confirm {width:500px;}
#popup-msg .popup_content{
min-height: 80px;
font-size: 14px;
}

.confirm_btn {
    background-color: #F1F1F1;
    border-top: 1px solid #D9D9D9;
    overflow: hidden;
    padding: 5px 5px 6px;
    text-align: right;
}

.head {
    border-bottom: 1px solid #E2E2E2;
}

.head .inner {
height: 50px;
position: relative;
}

.head h1 {font-size: 30px;font-weight: bold; line-height: 50px; height: 50px; width:300px;padding-left:10px;}

.head .extra_op {
position: absolute;
left: 500px;
bottom: 0;
}
.head .extra_op .login_info {
float: left;
line-height: 25px;
color: #C5C5C5;
}

.max_button{
	background: url(../images/max_btn.gif) no-repeat center center;
	text-decoration: none;
	cursor: pointer;
	text-align:center;
	font-size:16px;
	font-weight:bold;
    padding:8px 20px;
    line-height:31px;
}
.max_button:hover{
    background: url(../images/max_btn_hover.gif) no-repeat center center;
}

.btn {
    background: url("../images/icons.gif") no-repeat scroll -102px -130px transparent;
    border: 0 none;
    color: #2473A2;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    width: 103px;
}

button {
    cursor: pointer;
    font-size: 14px;
    margin-right:10px;
}

.btn_h_25 {
    line-height: 25px;
}
.btn_100_20 {
    width:100px;
    line-height: 20px;
}

#detail_box {
    margin-left: 160px;
}

#nav {
padding-left: 10px;
width: 135px;
float: left;
}
#nav ul:last-child {
padding-bottom: 5px;
}
#nav ul li {
cursor: pointer;
}
.main-nav-list {
background-image: url(../images/nav-bg.gif);
background-repeat: repeat-y;
}
.bg {
background-image: url("../images/bg.png");
background-repeat: no-repeat;
}
.main-nav-head, .main-nav-sub-head {
height: 26px;
}
.main-nav-sub-head {
background-position: 0px -110px;
margin-bottom: 2px;
}
.main-nav-sub-head .pointer {
width: 8px;
height: 8px;
background-position: -21px 0px;
float: left;
margin-left: 12px;
margin-right: 5px;
margin-top: 8px;
}
.main-nav-sub-head div {
float: left;
line-height: 26px;
font-size: 12px;
font-weight: bold;
}
.main-nav-item {
color: #4C4C4C;
height: 25px;
background-position: 1000px 1000px;
font-size: 12px;
line-height: 25px;
padding-left: 30px;
position: relative;
}
.main-nav-item-selected {
background-position: 0px -80px;
color: white;
}

#nav a:link {
color: #4C4C4C;
text-decoration: none;
}
#nav a:hover {
text-decoration: underline;
}
#nav .main-nav-item-selected a:link, #nav .main-nav-item-selected a:visited {
color: white;
}
.main-nav-foot {
height: 10px;
background-position: -150px -126px;
}
.reWrap {
border: 1px solid #E2E2E2;
margin-right: 10px;
}
.reWrap .head {
border-bottom: 1px solid #E2E2E2;
}
.reWrap .head h3 {
font-size: 18px;
font-weight: bold;
padding: 4px 8px;
background: #EFF1F3;
margin-top: 1px;
color: #5B5B5B;
}
.reWrap .body {
padding: 8px;
background: #F6F6F6;
overflow-x:auto;
}

.menu_2 {border: none;
border-bottom: 1px #BECBD6 solid;
height: 32px;
margin-bottom: 10px;
}
.menu_2 ul {margin-left: 20px;}
.menu_2 li {float: left;
margin-right: 8px;
border: 1px solid #BECBD6;
height: 15px;
line-height: 15px;
padding: 8px 10px;
background: #EDFCF8;
font-size:14px;
cursor: pointer;
font-weight: bold;
color:#2F8AB5;
}
.menu_2 li:hover{text-decoration: underline;}
.menu_2 li.tab_selected {
background: white;
border-bottom: 1px solid white;
color:#000;
}

.menu_3 {
    height: 25px;
}
.menu_3 li {
font-size:12px;
height: 8px;
line-height: 8px;
}

h2 {font-size: 14px;background: #99D9EA;height: 31px;line-height: 31px;font-weight: bold;
padding-left: 20px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    height: 30px;line-height: 30px;
}

.detail_main_box {padding:0 0 0 20px;}
.detail_block {padding:10px 0;}

.list_content {
     table-layout:fixed;
}
.list_content tr.alt {
    background-color: #EAF2F5;/*#FFF8EC;*/
}

.list_content th, .list_content td {
    border: 1px solid #B1CBE2;
    padding: 0 5px;
}
.list_content th {
    height: 30px;
    line-height: 30px;
    text-align: left;
    background-color: #D5E7F3;
    color: #444;
    font-weight: bold;
}
.list_content td {
    height: 30px; line-height: 30px;
    text-align: left;
    overflow: hidden;
}
.list_content .last_hidden {
    display: none;
}
.list_content .td_inner {
    white-space:nowrap;
}
.list_content .row:hover {background: #D5E7F3;}